<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="File" name="allfile" fileName="c:\temp\PetProject.Web-${shortdate}.log"
            enableArchiveFileCompression="true" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="10"
            archiveFileName ="c:\temp\archives\PetProject.Web-${shortdate}.log.zip"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString}" />
    <target xsi:type="File" name="userfile" fileName="c:\temp\UserOrchestrator-${shortdate}.log"
            enableArchiveFileCompression="true" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="10"
            archiveFileName ="c:\temp\archives\UserOrchestratorArchive-${shortdate}.log.zip"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString}" />
    <target xsi:type="ColoredConsole" name="c" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString}" />
  </targets>

  <rules>
	  <logger name="UserLogger" minlevel="Info" writeTo="userfile" />
	  <logger name="*" minlevel="Info" writeTo="allfile" />
	  <logger name="*" minlevel="Info" writeTo="c" />
	  <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>